@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}
.about-title {
    text-align: center;
    font-size: 38px;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.about-title::after {
    content: "";
    display: block;
    width: 90px; 
    align-items: center;
    border-bottom: 2px solid #A9B5F9;  
    position: relative;
    margin-top: 20px;
    left: 47%; 
}
.about {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0;
    margin-bottom: 2.5rem;

}
.about-content {
    max-width: 80%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.about-image {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-image img {
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin: 10px;
}

.about-container {
    max-width: 600px; 
    margin: 0 auto; 
    margin-bottom: 3rem;
    flex-direction: column;
}
.about-description {
    width: 110%;
    text-align: left;
    margin: 0 auto;
}

.philosophy {
    align-items: flex-start;
    margin-bottom: 0.5rem;
    text-align: flex-start;
}

.content-schedule {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 10px;
    font-size: 18px;
}
.scheduling-hours {
    list-style: none;
}

.scheduling-hours li {
    margin-bottom: 5px;
}

/* contact us container */
.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red;; */
}

.background-pic {
    background-image: url("../images/pic6.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30vh;
    background-position: center;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
    width: 99vw;
}

.enroll-now {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: black;
    font-size: 35px;
}

.title-about {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;  
    margin-bottom: 20px;
}
.title-about button {
    display: block; 
    margin: 20px auto; 
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 6.25rem;
    letter-spacing: 1px;
    width: 220px; 
    height: 55px;
    padding: 0 1.5625rem;
    border: none;
    cursor: pointer;
    background-color: #A9B5F9;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .about-title::after {
        content: "";
        display: block;
        width: 90px; 
        align-items: center;
        border-bottom: 2px solid #A9B5F9;  
        position: relative;
        margin-top: 20px;
        left: 40%; 
    }
    .about-content {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center;
    }
    .about-container {
        max-width: 600px; 
        margin-top: 3rem;
        margin-bottom: 3rem;
        flex-direction: column;
    }
    .about-image {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-image img {
        width: 105%;
    }
    .about-container {
        margin-bottom: 2rem; 
    }

    .about-description {
        width: 110%; 
        text-align: left;
        margin: 0; 
    }
    .enroll-now {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        color: black;
        font-size: 30px;
    }
    .title-about button {
        background-color: #A9B5F9;
        color: black;
        padding: 20px 15px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 17px;
        width: 100%;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 2rem;
    }
    
}