@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

/* note: instead of pading use lines */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: #f0f0f0; */
}

.global-title {
    text-align: center;
    font-size: 38px;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.global-title::after {
    content: "";
    display: block;
    width: 90px; 
    align-items: center;
    border-bottom: 2px solid #A9B5F9;  
    position: relative;
    margin-top: 20px;
    left: 30%; 
}
.content-container {
    display: flex;
    /* width: 100%; */
    justify-content: space-between; 
}

.left-side {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* margin-right: 20px; */
}

.content-box {
    margin-bottom: 20px;
    padding: 20px; 
    text-align: left;
}

.content-title {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 18px;
}

.content-description {
    margin-bottom: 10px;
}

.phone {
    margin-top: 30px;
}
.content-description a {
    text-decoration: none;
    color: black;
}
.email-address {
    margin-top: 30px;
}

.schedule-hours {
    list-style: none;
}

.schedule-hours li {
    margin-bottom: 5px;
    text-align: left;
}

.right-side {
    width: 100%; 
    padding: 20px;
    /* margin-left: 50px; */
}

.get-in-touch {
   font-size: 30px;
   margin-bottom: 30px;
   /* text-align: left; */
}
form {
    width: 500px;
    margin: 0 auto;
}

form div {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
}
input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
textarea:focus::placeholder {
    top: -20px; 
    font-size: 12px; 
    color: #555; 
}
input[type="message"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
    height: 200px;
}
input[type="message"]:focus::placeholder,
textarea:focus::placeholder {
    top: -20px; 
    font-size: 12px; 
    color: #555; 
}
button {
    background-color: #A9B5F9;
    color: black;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
}

button:hover {
    background-color: #A9B5F9;
}
.thank-you-message {
    margin-top: 1rem;
    color: #A9B5F9; 
    font-size: 15px;
}
.location {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.location-map iframe {
    width: 80%;
    height: 450px;
    border: none;
}

@media screen and (max-width: 767px) {
    .content-container {
        flex-direction: column-reverse; 
    }

    .left-side, .right-side {
        width: 100%;
        padding: 20px;
    }

    .right-side {
        align-items: center;
        justify-content: center;
    }

    .left-side {
        align-items: center;
        justify-content: center;
    }

    .content-box {
        margin-bottom: 20px;
        padding: 50px; 
        text-align: center;
    }

    form {
        width: 100%;
        margin: 0 auto;
    }

    .location-map iframe {
        width: 95%;
    }
}