@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.background-image{
    background-image: url("../images/kid1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position: center;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 30px;
    margin-bottom: 1rem;
    color: white;
}

.title-sub {
    font-size: 70px;
    margin-bottom: 1rem;
}

.title-container {
    text-align: center;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.title-container button {
    background-color: #A9B5F9;
    color: black;
    padding: 20px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    width: 20%;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 2rem;
}


/* gallery */
/* .gallery{
    
} */
.gallery-title{
    color: black;
    font-size: 35px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.gallery-box {
  text-align: center; 
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    margin-bottom: 3rem;
    margin: 0 auto;
}
  
.image-grid img {
    max-width: 100%; 
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
}

/* what we offer  */
.offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.offer-rows {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
}

.offer-title {
    font-size: 35px;
    margin-bottom: 1rem;
}

.offer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-icons {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #A9B5F9;
    padding: 55px 55px;
    border: none;
    border-radius: 65px;
    margin-bottom: 1rem;
    font-size: 30px;
    margin: 25px;
}

.offer-sub {
    font-size: 15px;
    margin-bottom: 1rem;
}

/* testimonials */
.testimonials {
    /* padding: 4rem 0; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.review-title{
    font-size: 35px;
    margin-bottom: 1rem;
}

.review-container{
    justify-content: center;
    align-items: center;
    display: flex;
}

.frame-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    width: 90%; /* Adjust the width as needed */
    margin: 0 auto;
}


@media screen and (max-width: 768px){

}